# Server Environment Configuration
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/brajmart_inventory
CLIENT_URL=https://inventory.brajmart.com
CLIENT_URLS=https://inventory.brajmart.com,https://brajmartinventory.vercel.app,http://localhost:5173,http://127.0.0.1:5173
JWT_SECRET=super-secret-brajmart-key-change-in-production
